body{
    background-image: url("images/ChessBackground.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

div *{
    color: #a9a9a9;
    text-shadow: 1px 1px 2px black;
}

header#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
    header span{
        font-size: 20px;
        font-weight: bold;
        padding: 20px 100px;
    }

    header nav ul{
        display: flex;
        list-style: none;
    }

    header nav ul li{
        padding-right: 100px;
    }

section#content{
    align-self: flex-start;
    padding: 200px 100px;
    width: 500px;
    height: 500px;
}
    section button{
        box-shadow: 1px 1px 2px black;
        background-color: transparent;
        border: 1px solid #a9a9a9;
        height: 30px;
        width: 100px;
        margin: 20px;
        margin-top: 50px;
    }