.modal{
    display: none;
    position: fixed;
    z-index: 1;
    top: -15%;
    left: 35%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    width: 25%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
}

.modal-content{
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    width: 90%;
    margin: 5% auto;
    padding: 20px;
}

.addClose, .editClose{
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}

.close:hover, .close:focus{
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 600px){
    .modal-content {
        width: 80%;
        margin: 10% auto;
    }
}