.error{
    color: red;
    font-size: 10px;
    font-style: italic;
    text-shadow: none;
}

.form-container#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    margin: 50px;
    padding: 20px;
    gap: 20px;
}

.form-container {
    background: linear-gradient(to bottom left, #4d4d4d, #303030, #242424, #161616);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.7);
    width: 300px;
    margin: 50px auto;
    padding-bottom: 0px;
    padding-top: 15px;
}

#formTitle {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

input{
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset -1px 2px 4px rgba(0, 0, 0, .7);
}
  
input#submit, input#reset {
    background: linear-gradient(to bottom, #08c, #0044cc);
    border: none;
    color: white;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 85px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

form input#submit{
    background: linear-gradient(to bottom, #08c, #0044cc);
    border: none;
    color: white;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 85px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Drop shadow for a lifted effect */
}

input#reset{
    margin-left: 15px;
}

input:focus {
    outline: 3px solid #555; /* Change color to a darker grey */
    border: 1px solid #555; /* Optional: Change the border color to match the outline */
}

input#submit:hover, input#reset:hover {
    background: linear-gradient(to bottom, #04c, #003399); /* Slightly darker gradient on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Stronger shadow for depth on hover */
}

.form-links {
    font-size: 0.8em; /* Smaller text */
    margin-left: 10px; /* Spacing from the submit button */
}

.form-links a {
    color: #819cff; /* Color similar to your submit button for consistency */
    text-decoration: none;
    margin: 0 5px; /* Spacing between links */
    transition: color 0.3s ease;
}

.form-links a:hover {
    color: #ccd1ff; /* Lighter color on hover for better visibility */
}

textarea {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset -1px 2px 4px rgba(0, 0, 0, .7);
    resize: none;
}

/* Recent games container */
.recent-games-container {
    background: #2a2a2a;
    border-radius: 8px;
    padding: 20px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5); /* Inset shadow for the 'inset' effect */
    margin: 20px auto; /* Give some space around the container */
    width: 95%; /* Adjust as necessary */
    max-width: 1000px; /* Ensures it doesn't get too wide on larger screens */
}

.recent-games-title {
    color: #ddd; /* Light grey color for the title */
    margin-bottom: 15px; /* Space between title and game list */
    font-size: 1.2em;
    text-align: center;
}

.recent-game-item {
    background: #333; /* Darker background for each game item for distinction */
    border: 1px solid #444; /* Slightly lighter border for visibility */
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px; /* Space between game items */
    color: #ccc; /* Light grey color for text */
}

