.error{
    color: red;
    font-size: 10px;
    font-style: italic;
    text-shadow: none;
}

/* Profile page main content container */
.form-container.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    gap: 20px;
}

.logoutContainer {
    display: flex;
    margin-right: auto;
}

.profileContent {
    display: flex;
    justify-content: space-between; /* Add space between the child elements */
    width: 100%; /* Ensure it takes the full width of its parent */
    gap: 20px; /* Optional: add space between the child elements */
}

/* Common main content container */
.form-container {
    background: linear-gradient(to bottom left, #4d4d4d, #303030, #242424, #161616);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.7);
    width: 300px;
    padding-bottom: 0px;
    padding-top: 15px;
}

.formTitle {
    color: #fff;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5em;
}

input{
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;   
    box-sizing: border-box;
    box-shadow: inset -1px 2px 4px rgba(0, 0, 0, .7);
}
  
input.submit, input.reset, input.addUserBtn, input.logout, 
input.searchBtn, input.userActionSubmit, input.editUserSubmit,
input.adminBtn, input.deleteUser, input.editUser, input.addUser,
input.blogSearchButton, input.newPostButton{
    background: linear-gradient(to bottom, #3636ae, #1a1a66);
    border: none;
    color: white;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 85px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

form input.submit{
    background: linear-gradient(to bottom, #3636ae, #1a1a66);
    border: none;
    color: white;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 85px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

input.reset{
    margin-left: 15px;
}

input:focus{
    outline: 3px solid #555;
    border: 1px solid #555;
}   

input.submit:hover, input.reset:hover, input.addUserBtn:hover, 
input.logout:hover, input.searchBtn:hover, input.userActionSubmit:hover, 
input.editUserSubmit:hover, input.deleteUser:hover, input.editUser:hover, 
input.addUser:hover, input.blogSearchButton:hover, input.newPostButton:hover{
    background: linear-gradient(to bottom, #4d4dbf, #2a2a88);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

input.logout{
    margin-left: 20px;
}

.form-links {
    font-size: 0.8em;
    margin-left: 10px;
}

.form-links a {
    color: #819cff;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease;
}

.form-links a:hover {
    color: #ccd1ff;
}

textarea {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset -1px 2px 4px rgba(0, 0, 0, .7);
    resize: none;
}

/* Recent games container */
.recent-games-container {
    flex: 1.5;
    order: 2;
    border-radius: 8px;
    padding: 20px;
    background: #1C1C1E; /* Darker background for containers */
    border: 1px solid rgb(59, 59, 59);
    /* box-shadow: 0 4px 6px rgba(136, 136, 136, 0.6); */
    width: 95%;
    max-width: 1000px;
    padding-top: 10px;
}

.userDetails {
    flex: 1; /* Allow the container to grow */
    padding: 20px;
    border-radius: 8px; /* Maintain the border radius */
    background: #1C1C1E; /* Darker background for containers */
    border: 1px solid rgb(59, 59, 59);
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between user details */
    padding-top: 10px;
}

    .userDetail {
        font-size: 1rem; /* Increase font size */
        padding-bottom: 8px; /* Padding at the bottom */
    }

    .userDetail:last-child {
        border-bottom: none; /* Remove border from the last item */
    }

    .userDetail .label {
        display: inline-block;
        font-weight: 700; /* Bold for labels */
        margin-right: 5px; /* Space between label and value */
        color: #a9a9a9; /* Subtle color for labels */
    }

.recent-games-title {
    color: #ddd;
    margin-bottom: 15px;
    padding-bottom: 5px;
    margin-top: 0px;
    font-size: 1.2em;
    text-align: center;
    border-bottom: 1px solid #3a3a3c;
}

.recent-game-item {
    background: #333;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
    color: #ccc;
}

.recent-game-item:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Hover effect for tiles */
}